urllib3-1.25.6.dist-info
s3transfer-0.2.1.dist-info
six-1.12.0.dist-info
dateutil
Archive.zip
beautifulsoup4-4.8.0.dist-info
requests-2.9.1.dist-info
requirements.txt
requests
package
readchar-2.0.1.dist-info
inquirer
blessings-1.7.dist-info
readchar
botocore
soupsieve
jmespath
termcolor-1.1.0.dist-info
soupsieve-1.9.4.dist-info
s3transfer
boto3
jmespath-0.9.4.dist-info
bs4
boto3-1.9.135.dist-info
docutils-0.15.2.dist-info
docutils
urllib3
botocore-1.12.241.dist-info
python_dateutil-2.8.0.dist-info
bin
blessings
inquirer-2.5.1.dist-info
tests
six.py
termcolor.py